# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore Thumbs.db files (Windows)
Thumbs.db

# Ignore any other files or directories you don't want to include in your Git repository
