.form {
  box-sizing: border-box;
}

.form__fieldset {
  border: none;
  margin-left: 0;
  padding: 0;
}
.form__fieldset_type_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  height: 60px;
  padding: 0;
  border: 1px solid #838383;
  color: #000000;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.form__input::placeholder {
  padding-left: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__button {
  width: 385px;
  height: 60px;
  padding: 0;
  border: 1px solid #2f80ed;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 100%;
  transition: 0.2s ease-in-out;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
